<body class="view intro-2 hm-gradient">
    <br>
    <div class="row">
      <div class="col">
        <div class="fullSize"></div>
      </div>  
      <div class="col">
        <!-- Card -->
        <div class="card mx-xl-5">

        <!-- Card body -->
        <div class="card-body">

          <!-- Default form subscription -->
          
            <p class="h4 text-center py-4">Add Game</p>

            <!-- Default input name -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Name</label>
            <input type="text" id="defaultFormCardNameEx" class="form-control">
            
            <br>

            <!-- Default input release year -->
            <label for="defaultFormCardEmailEx" class="grey-text font-weight-light">Release Year</label>
            <input type="email" id="defaultFormCardEmailEx" class="form-control">

            <br>
            
            <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-purple" (click)="postGame()">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
            </div>
        
            <!-- Default form subscription -->

        </div>
        <!-- Card body -->

      </div>
      <!-- Card -->
    </div>
    <div class="col">
          
    </div>  
  </div>
  <br>
</body>