<section class="view intro-2 hm-gradient">
    <div class="row">
      <div class="col">

      </div>
      <div class="col">
        <!-- Card -->
        <div class="card card-cascade wider reverse">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" [src]="lijst.cards[0].imageUrlHiRes" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          
          <!-- Card content -->
          <div class="card-body text-center">
  
          <!-- Title -->
          <h4 class="card-title"><strong>{{ lijst.cards[0].name }}</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">pokedex number: {{ lijst.cards[0].nationalPokedexNumber }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">types: {{ lijst.cards[0].types[1] }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">supertype: {{ lijst.cards[0].supertype }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">subtype: {{ lijst.cards[0].subtype }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">evolves from: {{ lijst.cards[0].evolvesFrom }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">ability: {{ lijst.cards[0].ability }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">hp: {{ lijst.cards[0].hp }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">retreat cost: {{ lijst.cards[0].retreatCost[0] }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">converted retreatCost: {{ lijst.cards[0].convertedRetreatCost }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">number: {{ lijst.cards[0].number }}</h6> 
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">artist: {{ lijst.cards[0].artist }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">rarity: {{ lijst.cards[0].rarity }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">series: {{ lijst.cards[0].series }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">set: {{ lijst.cards[0].set }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">setCode: {{ lijst.cards[0].setCode }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">attacks: {{ lijst.cards[0].attacks[0].name }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">resistances: {{ lijst.cards[0].resistances[0].type }}</h6>
          <!-- Subtitle -->
          <h6 class="font-weight-bold white-text py-2">weaknesses: {{ lijst.cards[0].weaknesses[0].type }}</h6>
        </div>
  
      </div>
      <!-- Card -->
      </div>
      <div class="col">

      </div>
    </div>
</section>