
.intro-2 {
    background: url("https://www.walldevil.com/wallpapers/a74/red-wallpaper-pokeball-pokemon-images.jpg")no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
