<body class="view intro-2 hm-gradient">
    <br>
    <div class="row">
      <div class="col">

      </div>  
      <div class="col">
        <div class="card" *ngFor="let item of lijst">
          <h4 class="card-title">{{item.name}}</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{item.releaseYear}}</li>
            <li class="list-group-item">{{item.console.name}}</li>
          </ul>
        </div>
      </div>
      <div class="col">
          
      </div>  
    </div>
    <br>
  </body>
