.intro-2 {
    background: url('/assets/gameboy.png')no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.fullSize{
    height: 700px;
}