<section class="view intro-2 hm-gradient">
<br>
<div class="row">
    <div class="col">

    </div>  
    <div class="col">
        <br>
        <br>
        <br>
        <br>
        <!-- Material form login -->
        
            <h1 class="white-text">Search Movie</h1>
    
            <!-- Material input email -->
            <div class="md-form">
                <input type="email" id="materialFormLoginEmailEx" class="form-control">
                <label for="materialFormLoginEmailEx">movie</label>
            </div>
    
            <div class="text-center mt-4">
                <button class="btn btn-primary" (click)='search()'>Search</button>
            </div>
        
        <!-- Material form login -->                  
    </div>
    <div class="col">
        <!-- Card -->
        <div class="card" *ngIf="lijst">

            <!-- Card image -->
            <img class="card-img-top" [src] = "lijst.cards[1].imageUrlHiRes" alt="Card image cap">
  
            <!-- Card content -->
            <div class="card-body">
  
            <!-- Title -->
            <h4 class="card-title"><a class="white-text" >{{ lijst.cards[1].name }}</a></h4>
            <!-- Text -->
            <p class="white-text">pokedex number: {{ lijst.cards[1].nationalPokedexNumber }}</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary" (click)="goToDetail()"><i class="fa fa-id-card" aria-hidden="true"></i> View Detail </a>
            
        </div>
  
        </div>
        <!-- Card -->
        
    </div>
    <div class="col">

    </div>    
</div>
<br>
</section>
