.intro-2 {
    background: url("https://img00.deviantart.net/0472/i/2014/057/b/2/gameboy_wallpaper_by_enhui-d783jsv.png")no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hoogte{
    height: 1000px;
}