body, html {
    background: url("https://img00.deviantart.net/0472/i/2014/057/b/2/gameboy_wallpaper_by_enhui-d783jsv.png")no-repeat center center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fullSize{
    height: 700px;
}