<body class="view intro-2 hm-gradient">
    <br>
    <div class="row">
      <div class="col">
        <div class="fullSize"></div>
      </div>  
      <div class="col">
        <div class="card" *ngIf="lijst">
          <h4 class="card-title">consoles</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of lijst" routerLink="/games/{{item.name}}">{{item.name}}</li>
          </ul>
        </div>
        <br>
        <button type="button" class="btn btn-unique btn-lg btn-block" routerLink="/addGame">Add game</button>

      </div>
      <div class="col">
          
      </div>  
    </div>
    <br>
  </body>
